In [1]:
import pandas as pd

Data Cleaning issues - 
    - Duplicate entries
    - unwanted columns
    - Missing values
    - Outliers

In [2]:
# load the file datawh_missing.csv
df = pd.read_csv(r"E:\Xebia\xebia_training_data\datasets\datawh_missing.csv")
df.head()

        Dates Temperature Humidity Pressure Air Quality
0  30-04-2018         218      182        4           2
1  01-05-2018           ?      182        3           2
2  02-05-2018           .      439      NaN           0
3  03-05-2018        2439       53        5           1
4  04-05-2018         824      444        5         NaN

In [3]:
# to check for duplicates
df.duplicated().sum()

0

In [4]:
# to drop duplicates
df.drop_duplicates(inplace=True)

In [5]:
# to drop any unwanted column 
# lets consider we want to drop the Dates column

print(df.shape)
df.drop(['Dates'],axis=1,inplace=True) # axis = 1 shows we want to drop a column, 0 = ro
print(df.shape)

(20, 5)
(20, 4)

In [6]:
df.head()

  Temperature Humidity Pressure Air Quality
0         218      182        4           2
1           ?      182        3           2
2           .      439      NaN           0
3        2439       53        5           1
4         824      444        5         NaN