In [1]:
print("hello world")

hello world

In [2]:
print('hello world')
print("Hope you are good.")

hello world
Hope you are good.

In [3]:
x = 5
y = 6
print(x+y)

11

In [4]:
print(x)

5

This is python programming

# Heading
## Heading
### Heading
#### Heading

# Python Programming
    There are four important pillars of any programming
    
1. Data Types
    - Primitive Data Types = integer, float, string, boolean and complex
    - Non primitive Data Typs = list, tuple, dictionary and set
    
    
2. Control Flow
    - if else
    - For loop
    - while loop
    
    
3. Functions
    - Built in functions
    - user defined functions
    
    
    
4. Object oriented Programming

## Primitive Data Types

In [5]:
# integer - any non decimal number
x = 5
print(x) # print functions prints the value of the variable
type(x) # type function shows the data type of the variable

5

int

In [6]:
# Float - anything which is decimal
y = 3.5
print(y)
type(y)

3.5

float

In [7]:
# string = any text data
z = "hello world"
print(z)
type(z)

hello world

str

In [8]:
# boolean = True or False  - first letter is capital
k = True
print(k)
type(k)

True

bool

In [9]:
# complex = used to represent complex - letter j is used to represent imaginary part of the number
m = 5 + 8j
print(m)
type(m)

(5+8j)

complex

## Non Primitive Data Types
### List
- used to store multiple values in the form of a list
- it supports repeation of values, it supports values of different datatypes
- a list can be defined using [ ] - square bracket / upper bracket

In [10]:
x = [7,23,'hii',22.5,12,'Hello']
print(x)
type(x)

[7, 23, 'hii', 22.5, 12, 'Hello']

list

In [11]:
len(x) # len function can be used to check the number of values in a list

6

In [14]:
# indexing
print(x[0])
print(x[2])
print(x[3])

7
hii
22.5

In [15]:
print(x[-1])
print(x[-2])

Hello
12

In [16]:
print(x)

[7, 23, 'hii', 22.5, 12, 'Hello']

In [17]:
# slicing
print(x[2:4])
print(x[1:5])

['hii', 22.5]
[23, 'hii', 22.5, 12]

In [18]:
print(x[0:3])

[7, 23, 'hii']

In [19]:
x[0] = 25
print(x)

[25, 23, 'hii', 22.5, 12, 'Hello']

In [20]:
x.append(2.5) # append is to add a new value in the list at the end of the list
print(x)

[25, 23, 'hii', 22.5, 12, 'Hello', 2.5]

In [21]:
x.insert(2,'xebia') # to insert a new value on a specific position in the list
print(x)

[25, 23, 'xebia', 'hii', 22.5, 12, 'Hello', 2.5]

In [22]:
x.remove(23) # to remove a value by entering the exact value
print(x)

[25, 'xebia', 'hii', 22.5, 12, 'Hello', 2.5]

In [23]:
x.pop(5) # to remove a value by position
print(x)

[25, 'xebia', 'hii', 22.5, 12, 2.5]

In [24]:
25 in x # to check whether value is present in the list or not

True

In [25]:
250 in x

False

In [27]:
x.index(12) # to check position of the value in the list

4

In [28]:
k = [2,56,10,78.5,3,45]
print(k)
k.sort() # to arrange the values in ascending order
print(k)

[2, 56, 10, 78.5, 3, 45]
[2, 3, 10, 45, 56, 78.5]

In [32]:
k.sort(reverse=True)
print(k)

[78.5, 56, 45, 10, 3, 2]

### Tuple
- used to store multiple values in the form of a tuple
- it supports repeation of values, it supports values of different datatypes
- Tuples are immutable, they can not be customized
- a list can be defined using () - parenthesis / lower bracket

In [33]:
y = (7,45,2.5,'hey','hi',12)
print(y)
type(y)

(7, 45, 2.5, 'hey', 'hi', 12)

tuple

In [34]:
len(y)

6

In [35]:
# indexing
print(y[0])
print(y[3])
print(y[-2])

7
hey
hi

In [36]:
# slicing 
print(y[2:5])
print(y[0:4])

(2.5, 'hey', 'hi')
(7, 45, 2.5, 'hey')

In [37]:
print(y)

(7, 45, 2.5, 'hey', 'hi', 12)

In [38]:
y[0] = 15

TypeError: 'tuple' object does not support item assignment

### Dictionary
- used to store key:value pair
- an unordered data type, that mean we can not access the values by their index
- it can be defined using {} - curly brackets / flower brackets / middle brackets

In [40]:
z = {"name":"Anshu","Age":36,"City":"Surat"}
print(z)
type(z)

{'name': 'Anshu', 'Age': 36, 'City': 'Surat'}

dict

In [41]:
#indexing
z['name']

'Anshu'

In [42]:
z['Age']

36

In [43]:
#insert a new key:value pair
z['Company']="Xebia"  # append
print(z)

{'name': 'Anshu', 'Age': 36, 'City': 'Surat', 'Company': 'Xebia'}

In [44]:
z['Age'] = 45
print(z)

{'name': 'Anshu', 'Age': 45, 'City': 'Surat', 'Company': 'Xebia'}

In [45]:
z.pop('City')
print(z)

{'name': 'Anshu', 'Age': 45, 'Company': 'Xebia'}

### Set
- used to store values as a set
- does not support repeation of values, it is unordered, so we can not do indexing
- mainly used for set theory operations like union and intersection
- can be defined using {} - curly / middle / flower brackets

In [46]:
m = {7,7,7,5,4,1,2,3,2,5,4,7,1,5}
print(m)
type(m)

{1, 2, 3, 4, 5, 7}

set

In [47]:
n = {9,6,5,2,8,2,3,6}
print(n)
type(n)

{2, 3, 5, 6, 8, 9}

set

In [48]:
m.union(n)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [49]:
m.intersection(n)

{2, 3, 5}

# Control Flow

## If else
- used for conditional programming

In [53]:
age = 45

if age<30:
    print("you are young")
    print("Learn python and enjoy................")
else:
    print("you are old")
    print("enjoy your second inning")

you are old
enjoy your second inning

In [55]:
age = 15

if age<25:
    print("you are young")
    print("Learn python and enjoy................")
elif age>=25 and age<50:
    print("you are adult now")
    print("Earn money and grow.")
else:
    print("you are old")
    print("enjoy your second inning")

you are young
Learn python and enjoy................

## Loops
- used to repeat the execution of any syntax multiple times
- for loop   - if the exact count of repeation is known
- while loop - if the exact count of repeatation is not known then we use while loop

In [56]:
print("Hello from Python")
print("Hello from Python")
print("Hello from Python")
print("Hello from Python")
print("Hello from Python")

Hello from Python
Hello from Python
Hello from Python
Hello from Python
Hello from Python

In [57]:
for i in range(5):
    print('Hello from python')

Hello from python
Hello from python
Hello from python
Hello from python
Hello from python

In [58]:
for i in range(5):
    print('Hello from python',i)

Hello from python 0
Hello from python 1
Hello from python 2
Hello from python 3
Hello from python 4

In [59]:
for i in range(2,10):
    print('Hello from python',i)

Hello from python 2
Hello from python 3
Hello from python 4
Hello from python 5
Hello from python 6
Hello from python 7
Hello from python 8
Hello from python 9

In [60]:
for i in range(3,10,2):
    print('Hello from python',i)

Hello from python 3
Hello from python 5
Hello from python 7
Hello from python 9

In [61]:
temp = [25,24,26,25,24,27,28,29,26,25,22,21,14,28,29,26,28,22,23,26]
# for each value in temp
for i in temp:
    if i>25:
        print(i)

26
27
28
29
26
28
29
26
28
26

In [62]:
temp = [25,24,26,25,24,27,28,29,26,25,22,21,14,28,29,26,28,22,23,26]
# for each value in temp
for val in temp:
    if val>25:
        print(i)

26
26
26
26
26
26
26
26
26
26

### while loop
- conditional loops
- repeation happens until the condition is true

In [63]:
x = 5
while x<20:
    print("python is amazing")
    print("python is easy")
    print("\n")
    x = x + 1

python is amazing
python is easy


python is amazing
python is easy


python is amazing
python is easy


python is amazing
python is easy


python is amazing
python is easy


python is amazing
python is easy


python is amazing
python is easy


python is amazing
python is easy


python is amazing
python is easy


python is amazing
python is easy


python is amazing
python is easy


python is amazing
python is easy


python is amazing
python is easy


python is amazing
python is easy


python is amazing
python is easy

# Functions

## Builtin functions in python

In [64]:
x = [4,5,6,2,8]

In [65]:
print(x) # prints the value of a variable

[4, 5, 6, 2, 8]

In [66]:
type(x) # gives the data type of a variable

list

In [67]:
len(x) # it gives length of a collection

5

In [68]:
sum(x) # sum of values in a collection

25

In [69]:
min(x) # gives minimum value from a collection

2

In [70]:
max(x) # maximum value from a collection

8

In [76]:
sorted(x,reverse=True) # arrange a collection in descending order

[8, 6, 5, 4, 2]

In [72]:
round(4.258522, 2) # round off a value upto certain digits

4.26

In [77]:
x = input("Enter your age ")
print("your age is ",x)

Enter your age 45
your age is  45

In [78]:
name = input("enter your name ")

enter your name Anshu

In [79]:
print(name)

Anshu

In [81]:
print(x)
type(x)

45

str

In [82]:
age = input("Enter your age ")
age = int(age)
if age<30:
    print("you are young")
    print("Learn python and enjoy................")
else:
    print("you are old")
    print("enjoy your second inning")

Enter your age 28
you are young
Learn python and enjoy................

In [ ]:
age = int(input("Enter your age "))

In [83]:
k = {"name":"Anshu","age":45}
k['name'] = input("Enter your name ")

Enter your name John

In [84]:
print(k)

{'name': 'John', 'age': 45}